body{
    margin: 0;
    padding: 0;
    background-color: #FDF0D5;
    overflow: hidden;
}

p{
    font-family: 'Roboto Condensed';
    font-size: 140%;
    color: #500B02;
}

a:link{
    color: #C51B54
}

a:visited{
    color: #A21645;
}

h1{
    font-family: 'Staatliches', cursive;
    font-size: 260%;
    letter-spacing: .1rem;
}

h2, h3{
    font-family: 'Commissioner';
    font-size: 175%;
}

h2{
    text-align: center;
}

#self-image{
    height: 300px;
}

#self-image > img{
    height: 100%;
}

#title{
    margin-left: 5%;
    text-align: center;
    align-self: center;
}

header{
    width: 100%;
    min-height: 10%;
    max-height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(187, 76, 76);
}

nav{
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4rem;
    max-height: 100%;
    width: 100%;
}

button{
    display: block;
    background: gray;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-family: 'Commissioner';
    color: white;
}

.buttonColumn{
    border: solid black 5px;
    position: absolute;
}

.sectionButton{
    position: relative;
}

.pageButton{
    
}

#wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    max-width: 50%;
    margin-right: 5%;
    border: solid black 5px;
    border-radius: 10%;
}

.trailer {
    max-width: 60%;
    margin-right: auto;
    border: solid black 5px;
}

#content{
    display: flex;
    align-items: center;
    margin: 1% 2%;
    /* align-items: stretch; */
}

#content > p {
    width: 40%;
}